{% extends "home/base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="{% static 'registration/js/main.js' %}"></script>
{% endblock header %}

{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-md-12 p-4">
        <section class="p-2">
            <h3 class="m-1 text-center text-light"> Registration form </h3>
        </section>
        {% load crispy_forms_tags %}
        <div class="bg-light p-4">
            {% csrf_token %}
            {% crispy form form.helper %}
        </div>
    </div>
</div>


{% endblock %}